---
services:
  mysql:
    image: mysql:8.0.37
    container_name: mysql-container
    networks:
      - default
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_ROOT_HOST: '%'
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql
networks:
  default:
    name: development-network
    external: true
