---
services:
  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    networks:
      - default
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ./ollama/data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

networks:
  default:
    name: ollama-network
    external: true
