---
services:
  tsdb-replica:
    container_name: ${CONTAINER_NAME:-tsdb-replica}
    image: timescale/timescaledb:2.24.0-pg17
    networks:
      - default
    environment:
      POSTGRES_PORT: ${POSTGRES_PORT:-5433}
      REPLICA_PASSWORD: ${REPLICA_PASSWORD:-replica_password}
      POSTGRES_PRIMARY_DB: ${POSTGRES_PRIMARY_DB:-tsdb-primary}
      POSTGRES_PRIMARY_DB_PORT: ${POSTGRES_PRIMARY_DB_PORT:-5432}
      TZ: ${TZ:-UTC} 
    entrypoint: ["/usr/local/bin/replica-entrypoint.sh"]
    ports:
      - "${POSTGRES_PORT:-5433}:5432"
    volumes:
      - postgresql_replica_data:/var/lib/postgresql/data
      - ./initdb-scripts/10-replica-entrypoint.sh:/usr/local/bin/replica-entrypoint.sh:ro
      - ./initdb-scripts/30-pg-hba.sh:/docker-entrypoint-initdb.d/30-pg-hba.sh:ro

    restart: unless-stopped

volumes:
  postgresql_replica_data:

networks:
  default:
    name: ${DEFAULT_NETWORK_NAME:-postgresql-network}
    external: true
